---
---

<nav class="flex flex-row justify-between items-center py-6 mb-12">
    <a href="/" class="text-3xl font-bold font-playfair-display">
        <span style="color: var(--color-primary)">Ch</span><span style="color: var(--color-secondary)">i</span><span style="color: var(--color-accent)">e</span>
    </a>

    <ul class="flex space-x-8 text-xs font-playfair-display">
        <li><a href="/info/el-origen-de-la-creatividad" class="hover:text-stone-500 transition">Información</a></li>
        <li><a href="/games" class="hover:text-stone-500 transition">Juegos</a></li>
    </ul>
</nav>
