---
import Layout from '../layouts/layout.astro';
---

<Layout title="Chie">
	<section class="h-[80vh] flex flex-col justify-center items-center text-center">
		<h1 class="text-7xl md:text-8xl lg:text-9xl mb-6">Explora la tecnologia y el amor por el Conocimiento</h1>
		<p class="max-w-3xl text-2xl italic">
			Una experiencia inmersiva para descubrir contenidos fascinantes y divertirte con nuestros juegos.
		</p>
	</section>
</Layout>
